@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F8;
  overflow-x: hidden;
}

.app-input {
  @apply relative bg-white border-b-2 border-accent pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-0 sm:text-sm
}

.app-input-icon--right {
  @apply ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none
}

.flex-wrap > div {
  width: calc(33.333333% - 1rem);
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max top-8 rounded-md shadow-md text-white bg-gray-900 text-xs invisible
}